
@{
    ViewBag.Title = "Page404";
    Layout = "~/Views/Shared/_Layout404.cshtml";
}

 <!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            
        </h1>
        
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="error-page">
            <h1 class="headline text-yellow inline"><i class="fa fa-warning text-yellow"></i> 404</h1> 
            
            <!-- /.error-content -->
        </div>
        <!-- /.error-page -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

