
@{
    ViewBag.Title = "CreateContract";
    Layout = "~/Areas/Manager/Views/Shared/_LayoutManager.cshtml";
}

<h2>CreateContract</h2>

<div>

</div>

<div>
    @Html.ActionLink("Назад", "Index")
</div>

